@font-face {
    font-family: 'Boska';
    src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/satoshi/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}